[
 {:id        :optimizely
  :age       :mid
  :gender    :male
  :url       "http://marketing-mojo.com/wp-content/uploads/2013/11/2308906108657132479-copy.png"}
 {:id        :itunes
  :age       :mid
  :gender    :female
  :url       "http://assets.ilounge.com/images/uploads/b2_62.gif"}
 {:id        :camera
  :gender    :male
  :location  :prime
  :weather   :sunny
  :ethnicity :hispanic
  :age       :mid
  :url       "https://mir-s3-cdn-cf.behance.net/project_modules/disp/05cd6a12328509.56266a8c003f1.jpg"}
 {:id        :home-service
  :age       :elder
  :gender    :male
  :url       "http://www.terrymehilos.com/images/banner-336x280.jpg"}
 {:id        :mortgage
  :age       :mid
  :gender    :male
  :ethnicity :caucasian
  :url       "http://usdaloans-101.com/wp-content/uploads/2012/09/tree_apr.jpg"}
 {:id        :coke
  :age       :young
  :weather   :sunny
  :location  :prime
  :gender    :male
  :url       "https://mkbydesign.files.wordpress.com/2014/01/amanda-myers-multimedia-campaign-coke-website-banner.gif?w=620"}
 {:id        :organic-food
  :age       :mid
  :gender    :female
  :url       "http://www.permies.com/t/40855/a/26677/hgfs-bigger.jpg"}
 {:id        :glasses
  :age       :mid
  :gender    :female
  :url       "http://media.vcommission.com/brand/files/vcm/120/Lenskart_GSets499_336X280.jpg"}
 {:id        :family
  :age       :mid
  :gender    :male
  :url       "http://realreachmarketing.com/wp-content/uploads/2015/08/Pool_Ad_family1.jpg"}
 {:id        :mcdonalds
  :age       :mid
  :gender    :male
  :url       "http://blog.gerv.net/files/2011/08/mcdonalds-ad.png"}
 {:id        :budweiser
  :age       :elder
  :gender    :male
  :url       "http://images.gofreedownload.net/thumps_middle/budweiser-98191.jpg"}
 {:id        :start-business
  :age       :mid
  :gender    :female
  :url       "http://craigduswalt.com/RockStarMarketingBootCamp/wp-content/uploads/2015/08/lg-rectangle-01.jpg"}
 {:id        :style-bop
  :age       :mid
  :gender    :female
  :url       "http://media.stylebop.com/affiliate/de/Women/jpg/336x280/01.jpg"}
 {:id        :clothing-1
  :age       :mid
  :gender    :female
  :weather   :sunny
  :location  :prime
  :url       "http://2.bp.blogspot.com/-jfqAWqBqlII/VPckqqIUXtI/AAAAAAAAAys/ynmLK_bZIuA/s1600/eShakti%2B-%2Bchacha%2Bflare%2B-%2Bcustomize%2Bclothing.jpg"}
 {:id        :clothing-2
  :age       :mid
  :gender    :female
  :weather   :sunny
  :url       "http://atzdeals.com/wp-content/uploads/2015/09/featured3.jpg"}
 {:id        :indoor-politics-girls
  :age       :mid
  :gender    :female
  :weather   :rainy
  :url       "http://www.girlsinpolitics.org/wp-content/uploads/2015/03/GIP-Virtual-Academy-Ad-Womens-Political-History-for-Girls.jpg"}
 {:id        :college-girls
  :age       :young
  :gender    :female
  :weather   :sunny
  :location  :prime
  :url       "http://data.whicdn.com/images/46457512/large.jpg"}
 {:id        :adventure-park-girls
  :age       :young
  :gender    :female
  :url       "http://www.virginislandsthisweek.com/images/336-coral-world.jpg"}
 {:id        :soccer-girls
  :age       :young
  :gender    :female
  :weather   :sunny
  :location  :prime
  :ethnicity :caucasian
  :url       "http://midwestsoccer.net/beta/wp-content/uploads/2013/01/DSAimage.jpg"}
 {:id        :everett-car
  :age       :elder
  :gender    :female
  :url       "http://static.wixstatic.com/media/552941_682dd6ff53e9479cb452496a64499b78.jpg_srz_552_460_85_22_0.50_1.20_0.00_jpg_srz"}
 {:id        :vitamin-supplement
  :age       :elder
  :gender    :female
  :url       "http://www.shareasale.com/image/large-rectangle-ad--vitamins1a.jpg"}
 {:id        :diabetes
  :age       :elder
  :url       "http://www.carbaholicsanonymous.com/wp-content/uploads/2015/07/diabetes.jpg"}
 {:id        :finance-your-future
  :age       :mid
  :gender    :female
  :url       "http://floridakeysjournal.com/journal/images/financialFuture.gif"}
 {:id        :cardin-school
  :age       :young
  :url       "http://www.marketingdollarsatwork.com/Cardin_OpenHouseOct6-(2).gif"}
 {:id        :boots-rain
  :location  :average
  :age       :mid
  :weather   :rainy
  :url       "http://albums.pbsportal.com/linkshare/Timberland336x280.png"}
 ]
